<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sport4U | SET YOUR GOAL & ...</title>
		<meta property="og:title" content="Sport 4U | set your goal & run swim ride it"/>
		<meta property="og:description" content="Ми спортсмени - аматори, подорожуємо по світу, долаючи кілометри біжучи, пливучи та крутячи педалі. "/>
		<meta property="og:image" content="https://shuandr.github.io/Sport4U/og-image_temp.png">
		<meta property="og:type" content="website"/>
		<meta property="og:url" content= "https://shuandr.github.io/Sport4U/" />
		
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/app.css">
		<link rel="stylesheet" href="assets/css/fullpage.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
	</head>
	<body>
		<div id="preloader">
			<div id="pre-logo"></div>
		</div>
		<div ng-app="sport4U" ng-controller="sportCtrl" >
			<div class="swim-ptrn fixed-bg" ></div>
			
			<div class="hero">
				<div class="main-tel">
					<a class="white" href="tel://+380636782132"><i class="fa fa-phone-square fa-2x" style="transform: translateY(0.4rem); "></i>  063-678-21-32</a>
				</div>
				<div class="social-icons">
					<a href="https://www.facebook.com/Run4Uclub" target="_blank">
					<i class="fa fa-facebook-square fa-2x"></i></a>
					<a href="https://www.facebook.com/SwimForU" target="_blank">
					<i class="fa fa-facebook-square fa-2x"></i></a>
					<a href="https://www.instagram.com/_sport4u_" target="_blank">
					<i class="fa fa-instagram fa-2x"></i></a>
					
				</div>		<div class="sport-type">
					<div class="sport-type-logo text-center">
						<img src="assets/img/swim-4U_logo.svg" alt="">
					</div>
					<img src="assets/img/swim_hero_inner.png" alt="" class="sport-type-hero">
				</div>
				
			</div>
			<div class="white-bg" >
				
				<h1 class="text-center swim-1 uppercase">наші <span class="bold swim-2">програми</span></h1><br>
			</div>
			<div class="grid-container">
				
				<div class="accordion" data-accordion>
					
					<div class="accordion-item" ng-repeat="prog in programs.swim" data-accordion-item>
						<a href="" class="accordion-title">
							<div class="prog-title">
								<img src="assets/img/programs/{[{prog.ID}]}.png" alt="">
								<div class="prog-name">
									<h1 class="text-center white bold uppercase">{[{prog.name}]}</h1>
								</div>
							</div>
							<div class="prog-features ">
								<h5 class="cell text-center"><span class="s-bold uppercase">мета: </span>{[{prog.goal}]}</h5>
								
								<div class="grid-x  align-bottom">
									<div class="cell medium-auto text-center">початок: <span class=" s-bold"> {[{prog.start}]}</span><br>
									заплив: <span class=" s-bold"> {[{prog.final}]}</span></div>
									<div class="cell small-6 medium-shrink"><span class=" s-bold bigger">{[{prog.duration}]}</span></div>
									<div class="cell small-6 medium-shrink"><span class="s-bold bigger">{[{prog.price}]}</span> грн</div>
								</div>
							</div>
							<div class="white-bg"><br>
								<h3 class="text-center swim-1 " >детальніше <i class="fa fa-arrow-circle-down "></i></h3><br>
							</div>
						</a>
						
						<div class="accordion-content" data-tab-content>
							<div class="grid-x">
								<div class="medium-6 cell">
									<h5 class="text-center swim-2 uppercase s-bold">В ціну включено:</h5>
									<ol>
										<li class="swim-1 include-list" ng-repeat="x in prog.include">{[{ x }]}</li>
									</ol>
								</div>
								<div class="medium-6 cell">
									<h5 class="text-center swim-2 uppercase s-bold">Тренування:</h5>
									<p class="big swim-2">Аквапарк «ПЛЯЖ», <span class="s-bold">7:00</span>ранку або <span class="s-bold">8:00</span> ранку <br><span class="s-bold"> ПН | СР | ПТ</span> або <span class="s-bold">ВТ | ЧТ | СБ</span> на вибір</p><br>
									<ul>
										<li class="swim-1 include-list" ng-repeat="x in prog.descr">{[{ x }]}</li>
									</ul>
									
								</div>
							</div><br>
							<div class="text-center">
								<h4 class="swim-2 s-bold">безкоштовне пробне тренування</h4>
								<button class="button large white text-center uppercase s-bold swim-bg">записатись</button>
							</div>
						</div><br>
					</div>
				</div>
			</div>
			<div class="grid-container">
				<div id="feedback-4u">
					<h1 class="text-center white uppercase">відгуки <span class="bold">учасників</span></h1><br>
					<div class="grid-x  grid-padding-x small-up-1 large-up-2" data-equalizer data-equalize-on="large" data-equalize-by-row="true" >
						<div class="cell" ng-repeat="quote in feedbacks">
							<div class="card white-bg" data-equalizer-watch>
								<div class="grid-x">
									<div class="cell small-12 medium-shrink text-center">
										<img src="assets/img/{[{quote.ID}]}.jpg">
									</div>
									<div class="cell small-12 medium-auto">
										<div class="card-section">
											<h6 class="sport-1 bold uppercase">{[{quote.name}]} <br>
											<span class="occupy sport-2">{[{quote.occupy}]}</span></h6>
											<p>{[{quote.text}]}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><br><br>	<div class="section white-bg ">
				
					<h1 class="text-center sport-1 uppercase">наші <span class="bold sport-2">партнери</span></h1>
					<div id="partners" class="owl-carousel owl-theme gallery-logos">
						
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/02.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/01.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/03.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/04.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/05.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/06.png">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/07.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/08.svg">
						<img class="owl-lazy" style="width: auto;" src="assets/img/partners/09.svg">
					</div><br><br>
			</div>
			<footer>
				<div class="grid-x small-up-3 medium-up-6 text-center">
					<div class="cell ">
						<div class="contacts">
							<div class="social-icons">
								<a class="white" href="tel://+380636782132"> 063-678-21-32</a><br><br>
								<a class="run-2" href="https://www.facebook.com/Run4Uclub" target="_blank">
								<i class="fa fa-facebook-square fa-2x"></i></a>
								<a class="swim-2"href="https://www.facebook.com/SwimForU" target="_blank">
								<i class="fa fa-facebook-square fa-2x"></i></a>
								<a class="sport-2"href="https://www.instagram.com/_sport4u_" target="_blank">
								<i class="fa fa-instagram fa-2x"></i></a>
							</div>
						</div>
					</div>
					<div class="cell foot-logo shrink sport-ho">
						<a href="index.html">
							<img src="assets/img/sport-4U_logo.svg" alt="">
							
						</a>
					</div>
					<div class="cell foot-logo shrink run-ho">
						<a href="run.html">
							<img src="assets/img/run-4U_logo.svg" alt="">
						</a>
					</div>
					<div class="cell foot-logo shrink swim-ho">
						<a href="swim.html">
							<img src="assets/img/swim-4U_logo.svg" alt="">
						</a>
					</div>
					<div class="cell foot-logo shrink ride-ho">
						<a href="ride.html">
							<img src="assets/img/ride-4U_logo.svg" alt="">
						</a>
					</div>
					<div class="cell foot-logo shrink rock-ho">
						<a href="rock.html">
							<img src="assets/img/rock-4U_logo.svg" alt="">
						</a>
					</div>
				</div>
				<p class="text-center">© Всі права застережено. 2019</p><br>
				
			</footer></div>
		
		<script src="assets/js/app.js"></script>
		<script src="assets/js_plugins/fullpage.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
		<script src="assets/js_plugins/myAngular.js"></script>
		<script src="assets/js_plugins/owl.carousel.min.js"></script>
	</body>
</html>